@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;900&display=swap");

$font: "Roboto", sans-serif;

:root {
  --clr-black: black;
  --clr-white: white;
  --clr-p: #21978b;
  --clr-grey-dark: #4f5665;
  --clr-grey-light: #c7c3c3;
}
